<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Mingkai'S Website</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	
	{{#if showTest}}
		<link rel="stylesheet" type="text/css" href="/vendor/mocha.css">
	{{/if}}
    {{{_sections.head}}}
</head>
<body>

<header><img src="{{static './img/logg.jpg'}}" alt="Mingkai's site"></header>


{{!-- <header><img src="/img/sky.jpg" alt="Mingkai'S sky picture" width="1000" height="200"></header> --}}
{{!此body将会被程序所使用替换掉每个文件页面部分}}
<div class="container">
<header><h1>Mingkai's Site</h1></header>




{{{body}}}
<footer>&copy;{{copyrightYear}}Mingkai's Site
<script type="text/javascript" src='js/jquery-1.8.3.min.js'></script>
<script src="js/bootstrap.min.js"></script>
</footer>
{{{_sections.jquery}}}

{{!此部分作为判断如果为真则执行测试脚本}}
{{#if showTest}}
	<div id="mocha"></div>
	<script type="text/javascript" src="/vendor/mocha.js"></script>
	<script type="text/javascript" src="/vendor/chai.js"></script>
	<script type="text/javascript">
	mocha.ui('tdd');
	var assert=chai.assert;
	</script>
	<script type="text/javascript" src="/qa/global-tests.js"></script>
	{{#if pageTestScript}}
		<script	src="{{pageTestScript}}"></script>
	{{/if}}
	<script type="text/javascript">mocha.run();</script>
{{/if}}
</body>
</html>